.menu{
  background-color: #222222;
  // Se for a Home
  &.home{
    background-color: rgba(0, 0, 0, 0);
    .menu{
      &__item{
        a{
          color: #000;
        }
      }
      &__item:first-child{
        a{
          color: #fff;
        }
      }
    }
  }
  &__conteudo{
    width: 100%;
    max-width: calc(1600px - 80px);
    padding: 30px 40px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 40px;
  }
  &__logo{
    height: 100px;
  }
  &__itens{
    justify-self: end;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 20px;
    grid-gap: 20px;
  }
  &__item{
    font-size: 18px;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: center;
    a{
      color: #fff;
      text-decoration: none;
      font-family: fonteLions;
    }
  }
}
